<h1>Stock Watcher Dashboard</h1>
<!--https://www.alphavantage.co/documentation/-->
<!--https://www.getdonedone.com/building-rails-dashboard-app-donedone-api/-->
<!--https://spring.io/understanding/REST-->