<% content_for :title do %>
    Stock Watch
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apple_open_close" data-view ="LineChart" data-title="Apple" data-moreinfo=""></div>
    </li>
    </li> <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apple_volume" data-view ="LineChart" data-title="Apple" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="google_open_close" data-view ="LineChart" data-title="Google" data-moreinfo=""></div>
    </li>
    </li> <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="google_volume" data-view ="LineChart" data-title="Google" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="altaba_open_close" data-view ="LineChart" data-title="Altaba" data-moreinfo=""></div>
    </li>
    </li> <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="altaba_volume" data-view ="LineChart" data-title="Altaba" data-moreinfo=""></div>
    </li>

  </ul>
</div>
